body {
  margin: 0;
  font-family: Ubuntu, serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a, button {
  font-family: Ubuntu, serif;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
}

.logo {
  display: flex;
  align-items: center;
  z-index: 5;
}
.logo span {
  font-weight: 300;
  font-size: 22px;
  line-height: 120%;
}
.logo .online {
  font-weight: 500;
  color: #0ED984;
}
.logo svg {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: cornflowerblue;
  color: #fff;
  overflow: hidden;
}
.header .logo {
  position: absolute;
  top: 7%;
  left: 13%;
}
@media (max-width: 820px) {
  .header .logo {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header .swiper {
  width: 100%;
  height: 100%;
}
.header .swiper .swiper-pagination {
  position: absolute;
  width: auto !important;
  left: calc(13% - 5px) !important;
  bottom: 14.375% !important;
  display: flex;
  align-items: center;
}
@media (max-width: 820px) {
  .header .swiper .swiper-pagination {
    left: 16px !important;
    bottom: 20px !important;
  }
}
.header .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  border: 1px solid #fff;
  background: none;
  margin: 5px 21px 5px 5px;
}
.header .swiper .swiper-pagination .swiper-pagination-bullet:hover {
  opacity: 1;
}
.header .swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 23px;
  height: 23px;
  border: none;
  background: url("res/pag1.svg");
  background-size: contain;
  margin: 0 16px 0 0;
}
.header .swiper .swiper-button-prev,
.header .swiper .swiper-button-next {
  transition: all 0.3s ease;
}
@media (max-width: 820px) {
  .header .swiper .swiper-button-prev,
.header .swiper .swiper-button-next {
    display: none;
  }
}
.header .swiper .swiper-button-prev:after,
.header .swiper .swiper-button-next:after {
  font-size: 0;
  width: 0;
  height: 0;
  display: none;
}
.header .swiper .swiper-button-prev .arrow,
.header .swiper .swiper-button-prev .arrow__hover,
.header .swiper .swiper-button-next .arrow,
.header .swiper .swiper-button-next .arrow__hover {
  overflow: visible;
  width: 50px;
  transition: all 0.3s ease;
}
.header .swiper .swiper-button-prev .arrow,
.header .swiper .swiper-button-next .arrow {
  width: auto;
  opacity: 25%;
  height: auto;
}
.header .swiper .swiper-button-prev .arrow__hover,
.header .swiper .swiper-button-next .arrow__hover {
  opacity: 0;
  width: 0;
  position: absolute;
}
.header .swiper .swiper-button-prev .arrow__hover__left,
.header .swiper .swiper-button-next .arrow__hover__left {
  left: 0;
}
.header .swiper .swiper-button-prev .arrow__hover__right,
.header .swiper .swiper-button-next .arrow__hover__right {
  right: 0;
}
.header .swiper .swiper-button-prev:hover .arrow__hover,
.header .swiper .swiper-button-next:hover .arrow__hover {
  opacity: 1;
  width: auto;
  height: auto;
}
.header .swiper .swiper-button-prev {
  margin-left: 3.5%;
}
.header .swiper .swiper-button-next {
  margin-right: 3.5%;
}
.header .swiper #slide1 {
  background: #0D5E3C;
}
.header .swiper #slide1 .rectangle {
  background: #138F5B;
}
.header .swiper #slide1 .triangle {
  border-top: 100vh solid #138F5B;
}
@media (max-width: 820px) {
  .header .swiper #slide1 .triangle {
    border-top: 15vh solid #138F5B;
  }
}
.header .swiper #slide1 .category {
  color: #0ED984;
  border-bottom: 3px solid #0ED984;
}
.header .swiper #slide1 .details:hover {
  color: #0ED984;
}
.header .swiper #slide2 {
  background: #173673;
}
.header .swiper #slide2 .rectangle {
  background: #0D41A7;
}
.header .swiper #slide2 .triangle {
  border-top: 100vh solid #0D41A7;
}
@media (max-width: 820px) {
  .header .swiper #slide2 .triangle {
    border-top: 15vh solid #0D41A7;
  }
}
.header .swiper #slide2 .category {
  color: #3577F6;
  border-bottom: 3px solid #3577F6;
}
.header .swiper #slide2 .details:hover {
  color: #3577F6;
}
.header .swiper #slide3 {
  background: #630773;
}
.header .swiper #slide3 .rectangle {
  background: #9C10B4;
}
.header .swiper #slide3 .triangle {
  border-top: 100vh solid #9C10B4;
}
@media (max-width: 820px) {
  .header .swiper #slide3 .triangle {
    border-top: 15vh solid #9C10B4;
  }
}
.header .swiper #slide3 .category {
  color: #D72DF3;
  border-bottom: 3px solid #D72DF3;
}
.header .swiper #slide3 .details:hover {
  color: #D72DF3;
}
.header .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.header .swiper .swiper-slide .slide__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__bg {
    flex-direction: column;
  }
}
.header .swiper .swiper-slide .slide__bg .rectangle {
  height: 100%;
  width: 64%;
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__bg .rectangle {
    width: 100%;
    height: 64%;
  }
}
.header .swiper .swiper-slide .slide__bg .triangle {
  margin-left: -1px;
  width: 0;
  height: 0;
  border-right: 9vw solid transparent;
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__bg .triangle {
    margin-left: 0;
    margin-top: -1px;
    border-right: 100vw solid transparent;
  }
}
.header .swiper .swiper-slide .slide__bg .bg__photo {
  width: 38%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  mix-blend-mode: multiply;
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__bg .bg__photo {
    width: 100%;
    height: 38%;
    bottom: 0;
    top: auto;
  }
}
.header .swiper .swiper-slide .slide__bg .bg__photo img {
  height: 50%;
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__bg .bg__photo img {
    width: 100%;
    height: auto;
  }
}
.header .swiper .swiper-slide .slide__content {
  width: 74%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__content {
    width: calc(100% - 32px);
    margin-top: 130px;
  }
}
.header .swiper .swiper-slide .slide__content .category {
  width: fit-content;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  padding-bottom: 5px;
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__content .category {
    font-size: 18px;
  }
}
.header .swiper .swiper-slide .slide__content .title {
  margin: 25px 0 45px 0;
  font-weight: 500;
  line-height: 110%;
  font-size: calc(36px + 49 * (100vw - 375px) / 1205);
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__content .title {
    margin: 20px 0 15px 0;
  }
}
.header .swiper .swiper-slide .slide__content .subtitle {
  width: 55%;
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__content .subtitle {
    width: 100%;
  }
}
.header .swiper .swiper-slide .slide__content .details {
  position: absolute;
  bottom: -3px;
  right: 0;
  background: none;
  padding: 15px 42px;
  border: 2px dashed #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 820px) {
  .header .swiper .swiper-slide .slide__content .details {
    margin-top: 80px;
    position: relative;
    font-size: 16px;
  }
}
.header .swiper .swiper-slide .slide__content .details:hover {
  background: #fff;
}

.main {
  margin-top: 120px;
}
@media (max-width: 820px) {
  .main {
    margin-top: 75px;
  }
}
.main .categories {
  width: 84%;
  margin: 0 auto 140px auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 820px) {
  .main .categories {
    width: calc(100% - 32px);
    flex-direction: column;
    margin-bottom: 65px;
  }
}
.main .categories #categ1 span {
  color: #0ED984;
}
.main .categories #categ2 span {
  color: #3577F6;
}
.main .categories #categ3 span {
  color: #D72DF3;
}
.main .categories .categories__item {
  width: 32%;
  border-right: 1px solid #F2F2F2;
  padding-right: 40px;
}
@media (max-width: 820px) {
  .main .categories .categories__item {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    margin-bottom: 30px;
  }
  .main .categories .categories__item:last-child {
    margin-bottom: 0;
  }
}
.main .categories .categories__item:last-child {
  border: none;
}
.main .categories .categories__item svg {
  width: 75px;
  height: 75px;
}
@media (max-width: 820px) {
  .main .categories .categories__item svg {
    width: 50px;
    height: 50px;
  }
}
.main .categories .categories__item .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 115%;
  color: #1D1A1A;
  margin: 30px 0 20px 0;
}
@media (max-width: 820px) {
  .main .categories .categories__item .title {
    font-size: 26px;
    margin: 15px 0 10px 0;
  }
}
.main .categories .categories__item .subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #615D5D;
}
.main .request {
  background: #F3F3F3;
  padding: 120px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 820px) {
  .main .request {
    padding: 75px 16px 40px 16px;
    flex-direction: column;
  }
}
.main .request .inf .title {
  font-weight: 500;
  line-height: 110%;
  color: #1D1A1A;
  margin-bottom: 20px;
  font-size: calc(36px + 14 * (100vw - 375px) / 1205);
}
@media (max-width: 820px) {
  .main .request .inf .title {
    margin-bottom: 15px;
  }
}
.main .request .inf .subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #615D5D;
}
.main .request .form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 820px) {
  .main .request .form {
    margin-top: 30px;
  }
}
.main .request .form .fields {
  display: flex;
}
@media (max-width: 820px) {
  .main .request .form .fields {
    flex-direction: column;
  }
}
.main .request .form .fields input {
  width: 14vw;
  margin-right: 15px;
  border: none;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #1D1A1A;
}
@media (max-width: 820px) {
  .main .request .form .fields input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.main .request .form .fields input::placeholder {
  color: #C5C5C5;
  transition: all 0.3s ease;
}
.main .request .form .fields input:hover::-webkit-input-placeholder {
  color: #999999;
}
.main .request .form .fields button {
  background: #138F5B;
  border: none;
  font-weight: 500;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
.main .request .form .fields button:hover {
  background: #04643C;
}
.main .request .form .warning {
  margin-top: 40px;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #A6A6A6;
}
@media (max-width: 820px) {
  .main .request .form .warning {
    margin-top: 25px;
    text-align: center;
  }
}
.main .request .form .warning a {
  color: #A6A6A6;
  border-bottom: 1px solid #A6A6A6;
}

.footer {
  width: 100%;
  height: 60px;
  background: #1D1A1A;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 8%;
}
@media (max-width: 820px) {
  .footer {
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
